<div
  class="flex flex-col flex-shrink-0 w-80 border
       border-gray-300 rounded-md bg-gray-50"
  data-drag-target="dropzone"
  data-ticket-state="<%= state %>"
>
  <div
    class="flex items-center justify-between p-4
          bg-white border-b border-gray-300 rounded-t-md"
  >
    <h2 class="font-bold text-xl"><%= state.humanize %> (<%= tickets.size %>)</h2>
    <%= link_to "New ticket",
        new_ticket_path(state:),
        data: {turbo_frame: dom_id(@new_ticket)},
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    %>
  </div>

  <div id="tickets" class="p-4 text-sm">
    <% tickets.each do |ticket| %>
      <%= render ticket %>
    <% end %>
  </div>
</div>
