<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing ticket</h1>

  <%= turbo_frame_tag @ticket do %>
    <div data-turbo-permanent id="<%= dom_id @ticket, :wrapper %>" class="ticket-card">
      <%= render "form", ticket: @ticket %>

      <%= link_to "Show this ticket", @ticket, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
  <%= link_to "Back to tickets", tickets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
