<%= turbo_stream_from "main-board" %>

<div class="w-full" id="page_content">
  <%= render "notice"%>

  <% content_for :title, "Tickets" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tickets</h1>
    <%= link_to "New ticket", new_ticket_path, data: {turbo_frame: dom_id(@ticket)}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= turbo_frame_tag @ticket %>

  <div class="flex flex-grow space-x-4 overflow-x-auto">
    <% Ticket.states.keys.each do |state| %>
      <%= render "column", state:, tickets: @tickets.fetch(state, []) %>
    <% end %>
  </div>
</div>
