<!DOCTYPE html>
<html class="<%= "hotwire-native" if hotwire_native_app? %>">
  <head>
    <title><%= content_for(:title) || "Hotboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col">
    <main class="container mx-auto mt-2 px-5 flex-grow">
      <%= yield %>
    </main>

    <footer class="hide-on-native container mx-auto px-5 mt-5 mb-4 border-t pt-2 text-center">
      Built with
      <a href="https://hotwire.dev" class="text-indigo-600">Hotwire</a>
      by
      <a href="https://radanskoric.com" class="text-indigo-600">Radan Skorić</a>
      as a demo application for <a href="https://masterhotwire.com" class="text-indigo-600">Master Hotwire</a>
      |
      <%= link_to "Privacy policy", privacy_path, class: "text-indigo-600" %>
      |
      <%= link_to "Source code", "https://github.com/radanskoric/hotboard", class: "text-indigo-600" %>
    </footer>
  </body>
</html>
